:root{
    --primary-color:yellow;
}


.nav{
   background-color:   var(--primary-color);
    height: 9rem;
    border-radius: 1rem;
}

.nav-heading{
    padding-top: 1.5rem;
    font-weight: bolder;
    font-size: 4rem;
}

.txt-area{

    padding-top: 1rem;
    height: 10rem;
    width: 50rem;
}
.txtarea1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
   
}

.btn-translate{
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 0.7rem;
    font-size: larger;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}